.btn {
  padding: 0 2.4rem;
  color: $white !important;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 12.5rem;
  height: 4.7rem;
  font-size: 1.4rem;
  @include transition(all);
  cursor: pointer;
  z-index: 3;
}

.btn__primary {
  background-color: $primary;

  &:hover {
    background-color: darken($color: $primary, $amount: 5%);
    color: darken($color: $white, $amount: 10%);

    .svg {
      stroke: darken($color: $white, $amount: 10%);
    }
  }
}

.btn__secondary {
  background-color: $secondary;

  &:hover {
    background-color: darken($color: $secondary, $amount: 5%);
    color: darken($color: $white, $amount: 10%);

    .svg {
      stroke: darken($color: $white, $amount: 10%);
    }
  }
}

.btn__login {
  height: 3.6rem;
}

.btn__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

.btn__form {
  margin: auto;
}


@media (min-width: 769px) {

  .btn__form {
    margin: auto 0 auto auto;
  }
}