.company {

}

.company__header {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 8rem 0 5rem;
}

.company__title {
  font-size: 2.6rem;
  color: $primary;
  font-weight: 700;
}

.company__gallery-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .slick-arrow {
    width: 5rem;
    height: 5rem;
    @include transition(all);

    &::before {
      font-size: 5rem;
    }
  }

  .slick-prev {
    left: 1rem;
    z-index: 100000;

    &::before {
      content: url('../img/slider-arrow-left.svg');
    }
  }

  .slick-next {
    right: 1rem;
    z-index: 100000;

    &::before {
      content: url('../img/slider-arrow-right.svg');
    }
  }


  img {
    width: 100%;
    display: block;
  }
}

.company__gallery-icons {
  
  min-height: 4rem;
  margin: 2rem 0;

  .slick-list {
    overflow: hidden;
    max-width: 30rem;
    margin: 0 auto;
  }
 
  img {
    display: block;
    max-width: 5rem;
  }

  .slick-prev{
    &::before {
      content: url('../img/slider-icon-left.svg');
    }

    left: 0;
    

  }
  .slick-next{
    &::before {
      content: url('../img/slider-icon-right.svg');
    }
    
    right: 0;
  }

  .slick-slide {
    margin: 0.5rem 0;

    img {
      @include transition(all);

      opacity: 0.5;
    }

    &.slick-current {
      img {
        opacity: 1;
      }
    }
  }
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;

}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.price {
  font-size: 2.6rem;
  color: $primary;
  font-weight: 700;
}

.social-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 2rem;
  cursor: pointer;

  .card-favorite {
    max-width: 2.6rem;
    cursor: pointer;
  }

  .text {
    color: $primary;
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }
}

.content__body {
  margin-bottom: 5rem;

  .subtitle {
    color: $primary;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .text {
    color: $dark-gray;
    font-size: 1.6rem;
  }

  .code {
    font-size: 2.1rem;
    color: $primary;
    margin: 2rem 0 3rem;
  }
}

.company__contact {
  margin-bottom: 5rem;
}

.company__contact-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .title {
    font-size: 2.6rem;
    color: $secondary;
    font-weight: 700;
  }

  .subtitle {
    font-size: 1.4rem;
    color: $primary;
    margin: 0;
  }
}

.company__related-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}

.company__title {
  text-align: center;
}

@media (min-width: 769px) {

  .company__gallery-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    .slick-arrow {
      width: 5rem;
      height: 5rem;
      @include transition(all);
  
      &::before {
        font-size: 5rem;
      }
    }
  
    .slick-prev {
      left: 2rem;
      z-index: 100000;
  
      &::before {
        content: url('../img/slider-arrow-left.svg');
      }
    }
  
    .slick-next {
      right: 2rem;
      z-index: 100000;
  
      &::before {
        content: url('../img/slider-arrow-right.svg');
      }
    }
  
  
    img {
      width: 100%;
      display: block;
    }
  }

  .company__gallery-icons {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 48.7rem;
    margin: auto 0;
    justify-self: center;
  
    .slick-prev{
      &::before {
        content: url('../img/slider-arrow-up.svg');
      }
      position: relative;
      top: unset;
      left: unset;
  
    }
    .slick-next{
      &::before {
        content: url('../img/slider-arrow-down.svg');
      }
      position: relative;
      bottom: unset;
      top: 1rem;
      right: unset;
    }
  
    .slick-slide {
      margin: 0.5rem 0;
      img {
        @include transition(all);
  
        opacity: 0.5;
      }
  
      &.slick-current {
        img {
          opacity: 1;
        }
      }
    }
  
    img {
      display: block;
      max-width: 100%;
    }
  }
  
  .company__title {
    font-size: 3.5rem;
  }

  .price {
    font-size: 3.5rem;
  }

  .company__contact {

    .btn__form {
      margin: 0;
    }
  }

  .company__contact-header {
    
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 4rem;
  
    .title {
      font-size: 3.5rem;
      
    }
  
    .subtitle {
      font-size: 1.6rem;
      
    }
  }
  
}