/******** COLOR VARIABLES ********/

$primary:     #19325A;
$secondary:   #A92539;
$white:       #ffffff;
$gray:        #c4c4c4;
$dark-gray:   #7a7786;
$light-blue:  #E0E3EC;
$light-gray:  #B7C3D1;
$text-gray:   #827F8D;
$blue-face:   #3A5998;
$blue-google: #4285F4;

/********   FONT FAMILY   ********/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

$roboto: 'Roboto'; 