.header {
  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 4.4rem;
  font-size: 1.4rem;
  color: $primary;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  position: relative;

}

.header__logo {
  width: 8.935rem;
  height: 2.034rem;
}

.header__menu-icon {
  position: absolute;
  right: 1.3rem;
}

.header__menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: $white;
  width: 75vw;
  height: calc(100vh - 9.2rem);
  padding: 3.2rem 0 3.2rem 5.4rem;
  border-top: solid 0.1rem $gray;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  -webkit-box-shadow: -14px 11px 27px 0px rgba(0,0,0,0.79); 
  box-shadow: -14px 11px 27px 0px rgba(0,0,0,0.79);
}

.header__menu-list {
  list-style-type: none;
  padding: 0 0 2.3rem;
  margin: 0;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  &.bold {
    font-weight: 700;
    font-style: none;
  }

  &:first-of-type {
    border-bottom: solid 0.01rem $gray;
  }

  &:last-of-type {
    padding-top: 3.2rem;
  }
  
}

.header__menu-list-item {
  a {
    padding: 0.8rem 0;
    @include transition(all);
    cursor: pointer;
    color: $primary;
  }

  &.active,
  &:hover{
    a { 
      color: $secondary;
      text-decoration: none;
      transform: scale(1.1);
    }
  }
  
}

.header__login-menu {
  width: 15rem;
  min-height: 11.8rem;
  padding: 1.8rem 1.6rem 0 0;
  position: absolute;
  top: calc(800% + 0.1rem);
  left: 40%;
  background-color: $white;
  z-index: 10;
  display: none;
  
}

.header__login-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__login-menu-list-item {
  margin-bottom: 1.2rem;

  a {
    color: $primary;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    @include transition(all);

    &:hover {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 769px) {

  .header {
    height: 6.6rem;
    padding: 0 4.6rem;
  }

  .header__wrapper {
    justify-content: flex-start;
    height: 6.6rem;
  }

  .header__logo {
    width: 11.354rem;
    height: 2.585rem;
  }

  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    top: unset;
    padding: unset;
    border-top: 0;
    opacity: 1;
    -webkit-box-shadow: none; 
    box-shadow: none;

  }

  .header__menu-icon {
    display: none;
  }

  .header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1.5rem;
    min-height: 0;
    width: 35%;
    

    &:first-of-type {
      border-bottom: 0;
      border-right: 0.1rem solid $primary;
    }
  
    &:last-of-type {
      padding: 0;
      width: 30%;
    }
  }

  .header__login-menu {
    padding: 1.8rem 1.6rem;
    top: calc(100% + 0.1rem);
    right: 0;
    left: unset;
  }
}

@media (min-width: 960px) {
  .header__menu {
    justify-content: flex-end;
  }

  .header__menu-list {
    justify-content: space-around;
    padding: 0 1.5rem;
  }
}