.user__create-wrapper {
  display: flex;
  flex-direction: column;
  width: 33.8rem;
  margin: 8.2rem auto;
  justify-content: center;
  align-items: center;

  .acf-form {
    width: 100%;
  }

  .acf-label label {
    color: $primary;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .acf-field {
    border-top: none !important;
  }

  .select2-selection__choice {
    background-color: $secondary !important;
    color: $white !important;
    border: none !important;

    .select2-selection__choice__remove {
      color: $white !important;
    }
  }

  .select2-container--default .select2-selection--multiple {
    border-radius: unset !important;
  }

  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: unset !important;
  }

  .select2-search__field,
  .acf-input-wrap input[type="text"],
  .acf-input-wrap input[type="email"],
  .acf-input-wrap input[type="password"] {
    width: 100%;
    height: 4.2rem;
    margin: 0.8rem 0 1.2rem;
    padding: 1rem;

    &:focus {
      outline: none !important;
    }
  }

  #message {
    display: none;
  }

  .acf-form-submit {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .acf-button {
      padding: 0 2.4rem;
      color: $white !important;
      border: none;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      min-width: 14rem;
      height: 4.7rem;
      font-size: 1.4rem;
      font-weight: 700;

      @include transition(all);
      cursor: pointer;
      z-index: 3;

      &:hover {
        font-size: 1.6rem;
        padding: 0 1.6rem;
      }

      background-color: $secondary;

      &:hover {
        background-color: darken($color: $secondary, $amount: 5%);
        color: darken($color: $white, $amount: 10%);

        .svg {
          stroke: darken($color: $white, $amount: 10%);
        }
      }
    }
  }
}

.select2-results__options {
    
  .select2-results__option {
   
    &.select2-results__option--highlighted {
      background-color: $secondary !important;
    }
  }
}